<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}"
                   class="navbar-link">
                    <span class="fa fa-chevron-left fa-lg">
                    </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="">
                Admin
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="text-center">
        <a class="btn btn-primary btn-block"
           href="#/{{model.userId}}/admin/users">
            Edit Users
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</nav>