<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/{{model.userId}}/admin"
                   class="navbar-link">
                    <span class="fa fa-chevron-left fa-lg">
                    </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="">
                Edit Users
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 no-left-padding">
            <div class="no-more-tables">
                <table class="col-md-12 table-bordered table-hover table-condensed cf">
                    <thead class="cf">
                    <tr>
                        <th ng-click="model.sortField='username'; model.order=!model.order">
                        <span ng-show="model.sortField=='username' && !model.order"
                              class="glyphicon glyphicon-triangle-top"
                              aria-hidden="true"></span>
                        <span ng-show="model.sortField=='username' && model.order"
                              class="glyphicon glyphicon-triangle-bottom"
                              aria-hidden="true"></span>
                            Username
                        </th>
                        <th>Password</th>
                        <th ng-click="model.sortField='firstName'; model.order=!model.order">
                        <span ng-show="model.sortField=='firstName' && !model.order"
                              class="glyphicon glyphicon-triangle-top"
                              aria-hidden="true"></span>
                        <span ng-show="model.sortField=='firstName' && model.order"
                              class="glyphicon glyphicon-triangle-bottom"
                              aria-hidden="true"></span>
                            First Name
                        </th>
                        <th ng-click="model.sortField='lastName'; model.order=!model.order">
                        <span ng-show="model.sortField=='lastName' && !model.order"
                              class="glyphicon glyphicon-triangle-top"
                              aria-hidden="true"></span>
                        <span ng-show="model.sortField=='lastName' && model.order"
                              class="glyphicon glyphicon-triangle-bottom"
                              aria-hidden="true"></span>
                            Last Name
                        </th>
                        <th>E-mail</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <form class="form-inline">
                            <td><input data-title="Username"
                                       type="text"
                                       class="form-control"
                                       placeholder="Username"
                                       ng-model="model.new_user.username"/></td>
                            <td><input data-title="Password"
                                       type="password"
                                       class="form-control"
                                       placeholder="Password"
                                       disabled
                                       ng-model="model.new_user.password"/></td>
                            <td><input data-title="First Name"
                                       type="text"
                                       class="form-control"
                                       placeholder="First Name"
                                       ng-model="model.new_user.firstName"/></td>
                            <td><input data-title="Last Name"
                                       type="text"
                                       class="form-control"
                                       placeholder="Last Name"
                                       ng-model="model.new_user.lastName"/></td>
                            <td><input data-title="E-mail"
                                       type="text"
                                       class="form-control"
                                       placeholder="E-mail"
                                       ng-model="model.new_user.email"/></td>
                            <td><input data-title="Phone Number"
                                       type="text"
                                       class="form-control"
                                       placeholder="Phone Number"
                                       ng-model="model.new_user.phone"/></td>
                            <td><input data-title="Role"
                                       type="text"
                                       class="form-control"
                                       placeholder="Role"
                                       ng-model="model.new_user.roles"/></td>
                            <td data-title="Action"
                                class="no-wrap">
                                <a ng-click="model.addNewUser(model.new_user)"
                                   class="btn btn-warning btn-sm"
                                   title="Add New User"
                                   tooltip>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a ng-click="model.updateUser(model.new_user)"
                                   class="btn btn-success btn-sm"
                                   title="Update User"
                                   tooltip>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                            </td>
                        </form>
                    </tr>
                    <tr ng-repeat="user in model.users | orderBy:model.sortField: model.order">
                        <td data-title="Username">{{user.username}}</td>
                        <td data-title="Password">{{user.password}}</td>
                        <td data-title="First Name">{{user.firstName}}</td>
                        <td data-title="Last Name">{{user.lastName}}</td>
                        <td data-title="E-mail">{{user.email}}</td>
                        <td data-title="Phone Number">{{user.phone}}</td>
                        <td data-title="Role">{{user.roles.join(' | ')}}</td>
                        <td data-title="Action"
                            class="no-wrap">
                            <a ng-click="model.deleteUser(user._id)"
                               class="btn btn-danger btn-sm"
                               title="Delete User"
                               tooltip>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <a ng-click="model.selectUser(user)"
                               class="btn btn-primary btn-sm"
                               title="Edit User Details"
                               tooltip>
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</nav>