<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.showSuccess" class="alert alert-success alert-dismissible" role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                ng-click="model.showSuccess = false">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
        <strong>
            Success!
        </strong>
        {{model.success}}
    </div>
    <div ng-if="model.showError" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                ng-click="model.showError = false">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
        <strong>
            Error!
        </strong>
        {{model.error}}
    </div>
    <div class="form-group">
        <div class="right-inner-addon">
            <i class="fa fa-user"></i>
            <input ng-model="model.user.username"
                   class="form-control input-lg"
                   placeholder="User Name"
                   id="username"
                   type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="right-inner-addon">
            <i class="fa fa-envelope"></i>
            <input ng-model="model.user.email"
                   class="form-control input-lg"
                   placeholder="Email Address"
                   id="email"
                   type="email">
        </div>
    </div>
    <div class="form-group">
        <div class="right-inner-addon">
            <i class="fa fa-mobile"></i>
            <input ng-model="model.user.phone"
                   class="form-control input-lg"
                   placeholder="Contact Number"
                   id="phone"
                   type="String"
                   maxlength="10">
        </div>
    </div>
    <div class="form-group">
        <div class="right-inner-addon">
            <i class="fa fa-i-cursor"></i>
            <input ng-model="model.user.firstName"
                   class="form-control input-lg"
                   placeholder="First Name"
                   id="firstName"
                   type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="right-inner-addon">
            <i class="fa fa-i-cursor"></i>
            <input ng-model="model.user.lastName"
                   class="form-control input-lg"
                   placeholder="Last Name"
                   id="lastName"
                   type="text">
        </div>
    </div>
    <br>
    <div class="text-center">
        <a class="btn btn-primary btn-block"
           role="button"
           href="#/user/{{model.userId}}/event">
            Event List
        </a>
    </div>
    <!-- TODO : change to users -->
    <div ng-if="model.user.role === 'admin'" class="text-center">
        <a ng-click="model.adminPage()"
           class="btn btn-info btn-block"
           role="button">
            Admin Page
        </a>
    </div>
    <div class="text-center">
        <a ng-click="model.logout()"
           class="btn btn-default btn-block"
           role="button">
            Logout
        </a>
    </div>
    <div class="text-center">
        <a ng-click="model.deleteUser()"
           class="btn btn-danger btn-block"
           role="button">
            Unregister
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</nav>