<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="#/user/{{model.uid}}/website/{{model.websiteId}}">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWebsite(model.website)"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
        <strong>
            Error!
        </strong>
        {{model.error}}
    </div>
    <form name="model.editWebsite"
          class="css-form"
          novalidate>
        <div class="form-group">
            <label for="website-name">
                Website Name
            </label>
            <input ng-model="model.website.name"
                   type="text"
                   class="form-control"
                   id="website-name"
                   placeholder="Name"
                   value="Lorem Ipsum"
                   name="name"
                   required/>
            <div class="alert alert-danger"
                 role="alert"
                 ng-show="model.isEmptyName ||
                            (model.editWebsite.name.$touched && model.editWebsite.name.$invalid)">
                <span class="glyphicon glyphicon-exclamation-sign"
                      aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Website Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="website-description">
                Website Description
            </label>
            <textarea ng-model="model.website.description"
                      rows=4
                      class="form-control"
                      id="website-description"
                      placeholder="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
        </div>
    </form>
    <a ng-click="model.deleteWebsite(model.website._id)"
       class="btn btn-danger btn-block"
       role="button">
        Delete
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <p class="navbar-text pull-left">
                    <span class="glyphicon glyphicon-share-alt">
                    </span>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>