body {
    padding-top: 60px;
    padding-bottom: 60px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.navbar {
    background-color: #EBEBEB;
    color: black;
    border-color: transparent;
}

.navbar li { color: #000 }

.sign-in-up .right-inner-addon {
    position: relative;
}

.right-inner-addon {
    position: relative;
}

.sign-in-up .right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon input {
    padding-right: 30px;
}

.sign-in-up .right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 17px 12px;
    pointer-events: none;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 17px 12px;
    pointer-events: none;
}

.sign-in-up .click2select {
    text-align: center;
    margin-top: 1em;
}

.btn {
    margin-bottom: 5px;
}

#map {
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    width: 75%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #FFF;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4D90FE;
}

.pac-container {
    font-family: Roboto, serif;
}

#type-selector {
    color: #FFF;
    background-color: #4D90FE;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto, serif;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

@media (min-width: 768px) {
    #map {
        width: 75%;
    }

    .eventList {
        width: 25%;
        display: block;
    }
}

@media (max-width: 767px) {
    #map {
        width: 100%;
    }

    .eventList {
        width: 50%;
        display: none;
    }

    .navbar-collapse {
        overflow-x: hidden;
    }
}

.eventList {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    overflow: auto;
}

.eventList ul {
    list-style: none;
    padding: 0;
}

.eventList li {
    padding: 10px;
    background: rgba(155, 155, 155, 0.5);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.eventList li img {
    float: left;
    margin: 0 15px 0 0;
    max-height: 100%;
}

.eventList li p {
    width: 100%;
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5 ;
    font-family: Roboto, serif;
}

.eventList li:hover {
    background: #90D1F3;
    cursor: pointer;
}

.logo {
    max-height: 100px;
    max-width: 100px;
}

p.capitalize {
    text-transform: capitalize;
}

.navbar-default {
    max-height: 50px;
}

.navbar-default li>a:hover,.navbar-default li>a:focus {
    background-color: #49bfff;
}

.navbar-default a {
    color:#777;
}