<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text pull-left">
            <a class="navbar-link"
               href="#/user/{{model.userId}}/event">
                <span class="fa fa-chevron-left fa-lg">
                </span>
            </a>
        </p>
        <a class="navbar-brand"
           href="">
            Event Details
        </a>
        <p class="navbar-text pull-right">
            <a class="navbar-link"
               href="#/user/{{model.userId}}/event/{{model.eId}}/invite">
                <span class="fa fa-mail-forward fa-lg">
                </span>
            </a>
        </p>
    </div>
</div>

<div class="container">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">{{model.event.eventTitle}}</div>
        <div class="panel-body">
            <div>{{model.event.imgUrl}}</div>
            <div ng-bind-html="model.getSafeHtml(model.event.eventDesc)"></div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="fa fa-calendar"></span>
                {{model.event.eventStartTime | cmdate:'MMMM dd, yyyy h:mm a'}}
            </li>
            <li class="list-group-item">
                <span class="fa fa-map-marker"></span>
                <a href="{{model.event.eventVenueUrl}}">{{model.event.eventVenueName}}</a><br/>&nbsp;&nbsp;
                {{model.event.eventVenueAddr}}
            </li>
            <li class="list-group-item">
                <span class="fa fa-info-circle"></span>
                Get more <a href="{{model.event.eventUrl}}"> details and ticket information </a> from Eventful website.
            </li>
        </ul>
    </div>
    <div>
        <ul class="list-unstyled">
            <li>
                <a href="#" class="btn btn-primary btn-block">
                    Add comment
                </a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</nav>
