<div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a class="navbar-link"
                   href="#/user/{{model.userId}}">
                        <span class="fa fa-chevron-left fa-lg">
                        </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="">
                Music Around Me
            </a>
            <a class="navbar-toggle" data-toggle="collapse" data-target=".eventList">
                <span class="fa fa-navicon fa-lg">
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <!-- Search Event options to be added -->
        </div>
    </div>

    <!--<div class="right-inner-addon">-->
    <!--<i class="fa fa-map-marker"></i>-->
    <input id="pac-input"
           class="controls"
           type="text"
           placeholder="Enter a location">
    <!--</div>-->
    <div id="map"></div>
    <!--<div id="repeat" ng-repeat="marker in markers">-->
        <!--<a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">-->
            <!--<label id="names">{{marker.title}}</label></a>-->
    <!--</div>-->

    <div class="col-xs-8 col-xs-offset-4 eventList">
        <ul ng-repeat="marker in model.markers | orderBy:'startTime'"
            class="list-group">
            <li class="list-group-item" ng-click="model.openInfoWindow($event, marker)">
                <img src="{{marker.imgUrl}}" class="logo">
                <!--<a id="country_container" ng-click="model.openInfoWindow($event, marker)">-->
                    <p class="capitalize" id="names"><strong>{{marker.title.toLowerCase()}}</strong></p>
                <!--</a>-->
                <p>{{marker.startTime | cmdate:'MMMM dd, yyyy h:mm a'}}</p>
                <!--<p>{{event.id}}</p>-->
                <!--<a target="_blank" href="{{marker.url}}">Get Tickets</a>-->
                <p>{{marker.venueName}}</p>
                <p>{{marker.venueAddress}}</p>
                <!--<p>{{model.getSafeHtml(event.description)}}</p>-->
            </li>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </nav>

</div>