<div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a class="navbar-link"
                   href="#/user/{{model.userId}}">
                        <span class="fa fa-chevron-left fa-lg">
                        </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="">
                Music Around Me
            </a>
            <a class="navbar-toggle" data-toggle="collapse" data-target=".eventList">
                <span class="fa fa-navicon fa-lg">
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <!-- Search Event options to be added -->
        </div>
    </div>

    <!--<div class="right-inner-addon">-->
    <!--<i class="fa fa-map-marker"></i>-->
    <input id="pac-input"
           class="controls"
           type="text"
           placeholder="Enter a location">
    <!--</div>-->
    <div id="map"></div>
    <!--<div id="repeat" ng-repeat="marker in markers">-->
        <!--<a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">-->
            <!--<label id="names">{{marker.title}}</label></a>-->
    <!--</div>-->

    <div class="col-xs-8 col-xs-offset-4 eventList">
        <ul ng-repeat="event in model.events.event | orderBy:'start_time'"
            class="list-group">
            <li class="list-group-item">
                <img src="{{event.image.medium.url}}" class="logo">
                <a id="country_container" ng-click="model.openInfoWindow($event, event)">
                    <p class="capitalize" id="names"><strong>{{event.title.toLowerCase()}}</strong></p>
                </a>
                <p>{{event.start_time | cmdate:'MMMM dd, yyyy h:mm a'}}</p>
                <!--<p>{{event.id}}</p>-->
                <a target="_blank" href="{{event.url}}">Get Tickets</a>
                <p>{{event.venue_address}}</p>
                <!--<p>{{model.getSafeHtml(event.description)}}</p>-->
            </li>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </nav>

</div>