<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text pull-left">
            <a class="navbar-link"
               href="#/user/{{model.userId}}">
                        <span class="fa fa-chevron-left fa-lg">
                        </span>
            </a>
        </p>
        <a class="navbar-brand"
           href="">
            Music Around Me
        </a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".eventList">
                <span class="fa fa-navicon fa-lg">
                </span>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <!-- Search Event options to be added -->
    </div>
</div>

<div class="container">

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</nav>
