<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text pull-left">
            <a class="navbar-link"
               href="#/user/{{model.userId}}/event">
                <span class="fa fa-chevron-left fa-lg">
                </span>
            </a>
        </p>
        <a class="navbar-brand"
           href="">
            Send Invite
        </a>
    </div>
</div>

<div class="container">
    <div class="form-group col-xs-6 col-sm-4">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-block"
                    type="button"
                    id="dropdownMenu1"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true">
                <div ng-if="model.inviteeUser === undefined">
                    Select User
                    <span class="caret"></span>
                </div>
                <div ng-if="model.inviteeUser">
                    {{model.inviteeUser.username}}
                </div>
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="dropdownMenu1">
                <li ng-repeat="user in model.users | unique: 'username'">
                    <a ng-click="model.dropdownSelected(user)">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group col-xs-6 col-sm-4">
        <a ng-click="model.sendInvite()" class="btn btn-primary btn-block form-control">
            Send Invite
        </a>
    </div>
    <div class="form-group col-xs-6 col-sm-4"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</nav>