<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text pull-left">
            <a class="navbar-link"
               href="#/user/{{model.userId}}/event">
                <span class="fa fa-chevron-left fa-lg">
                </span>
            </a>
        </p>
        <a class="navbar-brand"
           href="">
            Send Invite
        </a>
    </div>
</div>

<div class="container">

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</nav>