<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <p class="navbar-text pull-left">
            <a class="navbar-link"
               href="#/user/{{model.userId}}">
                    <span class="fa fa-chevron-left fa-lg">
                    </span>
            </a>
        </p>
        <a class="navbar-brand"
           href="">
            Invites Received
        </a>
    </div>
</div>
<div class="container">
    <div ng-show="model.user.invites.length">
        <ul class="list-group list-unstyled">
            <li ng-repeat="invite in model.user.invites">
                <div class="panel panel-info">
                    <!--<div class="panel-heading">-->
                    <!--<a href="#/{{model.userId}}/event/{{invite._eid}}">{{invite.eventTitle}}</a>-->
                    <!--</div>-->
                    <div class="panel-body">
                        <a href="#/user/{{model.userid}}/event/{{invite._eid}}">{{invite.eventTitle}}</a>
                        <br/>
                        <div ng-show="invite.inviterName">
                            Invited by: {{invite.inviterName}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-show="model.user.invites.length === 0">
        <div class="panel panel-info">
            <div class="panel-body">
                No invites received yet.
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>