<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.user._id}}">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
        <strong>
            Success!
        </strong>
        {{model.success}}
    </div>
    <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
        <strong>
            Error!
        </strong>
        {{model.error}}
    </div>
    <form>
        <div class="form-group">
            <label for="username">
                Username
            </label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="username">
        </div>
        <div class="form-group">
            <label for="email">
                Email
            </label>
            <input ng-model="model.user.email"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="phone">
                Phone
            </label>
            <input ng-model="model.user.phone"
                   type="number"
                   maxlength="10"
                   class="form-control"
                   id="phone"
                   placeholder="xxxxxxxxxx">
        </div>
        <div class="form-group">
            <label for="firstName">
                First Name
            </label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="lastName">
                Last Name
            </label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="lastName"
                   placeholder="Wonderland">
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website"
       role="button">
        Websites
    </a>
    <a class="btn btn-danger btn-block"
       ng-click="model.logout()"
       role="button">
        Logout
    </a>
    <a class="btn btn-danger btn-block"
       ng-click="model.unRegister()"
       role="button">
        Unregister
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
        </div>
    </div>
</nav>