<div class="container">

    <div ng-if="model.error"
         class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{model.error}}
    </div>

    <h1>
        Register
    </h1>
    <form name="model.registerForm"
          class="css-form"
          novalidate>
        <input ng-model="model.user.username"
               type="text"
               class="form-control"
               placeholder="username"
               name="username"
               required/>
        <div class="alert alert-danger"
             role="alert"
             ng-show="model.isEmptyUser || (model.registerForm.username.$touched && model.registerForm.username.$invalid)">
            <span class="glyphicon glyphicon-exclamation-sign"
                  aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Username is required
        </div>
        <input ng-model="model.user.password"
               type="password"
               class="form-control"
               placeholder="password"
               name="password"
               required/>
        <div class="alert alert-danger"
             role="alert"
             ng-show="model.isEmptyPassword || (model.registerForm.password.$touched && model.registerForm.password.$invalid)">
            <span class="glyphicon glyphicon-exclamation-sign"
                  aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Password is required
        </div>
        <input ng-model="model.password2"
               type="password"
               class="form-control"
               placeholder="verify password"
               name="password2"
               required/>
        <div class="alert alert-danger"
             role="alert"
             ng-show="model.isEmptyPassword2 || (model.registerForm.password2.$touched && model.registerForm.password2.$invalid)">
            <span class="glyphicon glyphicon-exclamation-sign"
                  aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Verify Password is required
        </div>
    </form>
    <a ng-click="model.createUser(model.user)"
       class="btn btn-primary btn-block"
       role="button">
        Register
    </a>
    <a class="btn btn-danger btn-block"
       href="#/login"
       role="button">
        Cancel
    </a>
</div>