<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/widget-list"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="#/widget-image">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="#/widget-list"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <label for="name">
        Name
    </label>
    <input type="text"
           class="form-control"
           id="name"
           placeholder="Image Name"
           value="">
    <label for="text">
        Text
    </label>
    <input type="text"
           class="form-control"
           id="text"
           placeholder="Image Text"
           value="">
    <label for="url">
        URL
    </label>
    <input type="url"
           class="form-control"
           id="url"
           placeholder="Image URL"
           value="https://www.youtube.com/embed/wWjBipdqYYI">
    <label for="width">
        Width
    </label>
    <input type="text"
           class="form-control"
           id="width"
           placeholder="Image Width"
           value="100%">
    <label for="upload">
        Upload
    </label>
    <input type="file"
           class="form-control"
           id="upload"
           value="100%">
    <a class="btn btn-primary btn-block"
       href="#/widget-list"
       role="button">
        Upload Image
    </a>
    <a class="btn btn-danger btn-block"
       href="#/widget-list"
       role="button">
        Delete
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <p class="navbar-text pull-right">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>