<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="#/user/{{model.uid}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget()"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <form>
        <label for="text">
            Text
        </label>
        <input ng-model="model.widget.text"
               class="form-control"
               id="text"/>
        <label for="rows">
            Rows
        </label>
        <input ng-model="model.widget.rows"
               class="form-control"
               type="number"
               id="rows"/>
        <label for="placeholder">
            Placeholder
        </label>
        <input ng-model="model.widget.placeholder"
               class="form-control"
               id="placeholder"/>
        <label for="formatted">
            Formatted
        </label>
        <input ng-model="model.widget.formatted"
               type="checkbox"
               id="formatted"/>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">
        Delete
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>