<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.websiteId}}/page"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="#/user/{{model.uid}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <widgets-reorder model="model"
                     reorder-widget="model.reorderWidget(start, end)"></widgets-reorder>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <p class="navbar-text pull-left">
                <span class="glyphicon glyphicon-play">
                </span>
            </p>
            <p class="navbar-text pull-left">
                <span class="glyphicon glyphicon-eye-open">
                </span>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>