<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/widget-list"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                </a>
            </p>
            <a class="navbar-brand"
               href="#/widget-header">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a href="#/widget-list"
                   class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <label for="name">
        Name
    </label>
    <input type="text"
           class="form-control"
           id="name"
           placeholder="Header Name"
           value="">
    <label for="text">
        Text
    </label>
    <input type="text"
           class="form-control"
           id="text"
           placeholder="Header Text"
           value="Lorem ipsum text">
    <label for="size">
        Size
    </label>
    <select class="form-control"
            id="size">
        <option selected="selected"
                disabled="disabled">Choose here</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <a class="btn btn-danger btn-block"
       href="#/widget-list"
       role="button">
        Delete
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <p class="navbar-text pull-right">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>